.menu-turma {
    display: flex;

    justify-content: center;

    align-items: center;

    gap: 25px;

    padding: 12px 0;

    background-color: #d9d9d9;
}


/* BOTÕES */

.menu-turma a {
    display: flex;

    justify-content: center;

    align-items: center;

    width: 125px;

    height: 35px;

    box-sizing: border-box;

    border: 2px solid #040C35;

    border-radius: 5px;

    background-color: #f5f5f5;

    color: #222;

    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 16px;

    transition: 0.2s;
}


/* BOTÃO ATIVO */

.menu-turma a:first-child {
    background-color: #17275c;

    color: white;
}


/* AO PASSAR O MOUSE */

.menu-turma a:hover {
    background-color: #040C35;

    color: white;
}