body {
    margin: 0;

    background-image: url("../img/polvoFundo.png");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ver se a deixo isso ou ão, vai depender do outro texto */
.overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(20, 22, 45, 0.5); 

    z-index: 1;
}

.button-container {
    position: relative; 
    z-index: 2;

    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    display: inline-block;

    padding: 12px 30px;
    background-color: white;
    color: #222;

    text-decoration: none; 
    border-radius: 25px; 

    font-weight: bold;
    font-size: 16px;

    border: none; 
    cursor: pointer;

    transition: 0.3s;
}
.btn:hover {
    background-color: #afe5f3;
    transform: scale(1.05);
}
.t2{
    color: blue;
}